:root {
    --red: #ff5a3c;
    --light-red: #f9edeb;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #f7f7f7;
    cursor: default;
}

section {
    padding: 2rem 9%;
}

.homePageHeading {
    color: black;
    font-size: 4rem;
    text-align: left;
    padding-top: 0;
    margin-top: 0;
}

.homeOfferImg {
    margin-bottom: 0;
}

.homeTextColor {
    background-color: yellow;
}

.testimonialsText {
    border: 2px solid grey;
    border-radius: 5%;
    margin: 20px;
    padding: 10px;
}

.facilitiesInSociety {
    margin-bottom: -30px;
}

#testimonialsHeading {
    margin-top: 0;
}

footer {
    text-align: center;
    font-size: 20px;
    color: blue;
}

.facilitiesBox:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3.5rem;
    border-radius: 0.5rem;
    font-size: 1.7rem;
    color: var(--red);
    background: var(--light-red);
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background: var(--red);
    color: #fff;
}

.apartmentPrice {
    color: black;
    font-size: 3rem;
    text-align: left;
    margin-top: 35px;
    margin-bottom: 1px;
}

.initialPrice {
    color: red;
}

.small {
    margin-top: 1px;
    font-size: 1rem;
}

.apartmentBenefits {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 20px;
    padding: 10px;
}

.sectionMainHeading {
    text-align: center;
    color: #333;
    font-size: 3.5rem;
    padding-bottom: 2rem;
    margin-top: 2%;
}

.sectionMainHeading span {
    color: var(--red);
    background: var(--light-red);
    border-radius: 0.5rem;
    padding: 0.2rem 1.5rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    padding: 1.5rem 9%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-weight: bolder;
    font-size: 2.5rem;
    color: #333;
}

header .logo span {
    color: var(--red);
}

header .navbar a {
    color: #333;
    font-size: 2rem;
    padding: 0 1.5rem;
}

header .navbar a:hover {
    color: var(--red);
}

header .icons #menu-bars,
header .icons a {
    height: 4.5rem;
    line-height: 4.5rem;
    width: 5rem;
    font-size: 2rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    color: var(--red);
    background: var(--light-red);
    text-align: center;
}

header .icons #menu-bars:hover,
header .icons a:hover {
    background-color: var(--red);
    color: #fff;
}

header .icons #menu-bars {
    display: none;
}

.home {
    min-height: 80vh;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2LdNcpiQjNZHou9JyHTS68TS-bAC6Gtt20Q&usqp=CAU) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home form {
    margin-top: 7rem;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    width: 40rem;
    padding: 5rem;
}

.home form h3 {
    text-align: center;
    color: #333;
    font-size: 2.5rem;
    margin-top: 10px;
}

.home form .buttons-container {
    display: flex;
    gap: 1.5rem;
}

.home form .buttons-container .btn {
    flex: 1;
}

.home form .inputBox {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
}

.home form .inputBox input,
.home form .inputBox select {
    flex: 1 1 25rem;
    border: 0.1rem solid #333;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    padding: 1rem;
    text-transform: none;
}

.invalidInput {
    display: flex;
    width: 190px;
    color: red;
    height: 10px;
}

.home form .btn {
    width: 100%;
    margin-top: 2rem;
}

.sectionLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 5% 2% 5%;
}

.apartmentInfo .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.apartmentInfo .box-container .box {
    flex: 1 1 30rem;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 2rem;
}

.apartmentInfo .box-container .box h3 {
    font-size: 2.5rem;
    color: #333;
}

.apartmentInfo .box-container .box p {
    font-size: 1.5rem;
    color: #666;
    padding: 0.5rem 0;
    line-height: 2;
}

.content {
    font-size: 2rem;
    margin: 5px;
    font-weight: 100;
    text-align: justify;
    padding: 0% 4% 4% 4%;
}

.facilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
}

.list {
    margin-left: 10%;
}

.testimonialsContainer {
    text-align: center;
    border: 2px solid grey;
    border-radius: 5%;
    margin: 5px;
    padding-top: 5px;
}

.content span {
    font-weight: bold;
}

.contact .icons-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}

.contact .icons-container .icons {
    flex: 1 1 10rem;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 30%;
    padding: 2rem;
}

.contact .row {
    background: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 1rem;
}

.contact .row form {
    flex: 1 1 50rem;
    padding: 0.5rem 1rem;
}

.contact .row .map {
    flex: 1 1 60rem;
    width: 100%;
    padding: 1rem;
}

#mapBorder {
    height: 100%;
    width: 100%;
}

.contact .row form .inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact .row form textarea,
.contact .row form .inputBox input {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    background: #f7f7f7;
    border-radius: 0.5rem;
    text-transform: none;
    width: 49%;
}

.contact .row form textarea {
    width: 100%;
    height: 20rem;
    resize: none;
}

.contact .row form textarea:focus,
.contact .row form .inputBox input:focus {
    background-color: var(--light-red);
}

.testimonialsLayout {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contactUs {
    display: flex;
    flex-direction: row;
}

.icons-container {
    flex-direction: column;
}

.icons {
    height: 5%;
}

svg {
    margin: 20px 60px 10px 60px;
}

.iframeLayout {
    width: 700px;
    height: 700px;
}

@media only screen and (max-device-width: 1000px) {
    .navbar {
        display: none;
    }
    html {
        overflow-x: hidden;
        width: 100%;
    }
    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .home form h3 {
        text-align: center;
        color: #333;
        font-size: 2rem;
        margin-top: 10px;
    }
    .homePageHeading {
        color: black;
        font-size: 5rem;
        text-align: center;
        padding-top: 10%;
    }
    .apartmentPrice {
        color: black;
        font-size: 3rem;
        text-align: center;
        margin-top: 35px;
    }
    .small {
        margin-top: 1px;
        font-size: 2.5rem;
    }
    .apartmentBenefits {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 20px;
    }
    .home form {
        margin-top: 4rem;
        background: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        width: 35rem;
        padding: 2rem;
    }
    .apartmentInfo .box-container {
        display: flex;
        justify-content: center;
    }
    .apartmentInfo .box-container .box {
        background: #fff;
        text-align: center;
        padding: 1rem;
    }
    .apartmentImg {
        display: flex;
        justify-content: center;
        height: 300px;
        width: 300px;
    }
    .testimonialsLayout {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .testimonialsContainer {
        text-align: center;
        border: 2px solid grey;
        border-radius: 5%;
        margin: 5px;
        padding-top: 5px;
    }
    .contact .icons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .contactUs {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .icons {
        margin-left: 30%;
    }
    .iframeLayout {
        width: 600px;
        height: 400px;
    }
    .sectionLayout {
        display: flex;
    }
    .list {
        margin-left: 5%;
    }
    .iframe {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-device-width: 480px) {
    .navbar {
        display: none;
    }
    html {
        overflow-x: hidden;
        width: 100%;
    }
    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .homePageHeading {
        color: black;
        font-size: 3rem;
        text-align: center;
        padding-top: 30%;
    }
    .homeOfferImg {
        display: flex;
        justify-content: center;
    }
    .apartmentPrice {
        color: black;
        font-size: 2rem;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 1px;
    }
    .small {
        margin-top: 1px;
        font-size: 1rem;
    }
    .apartmentBenefits {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .home form {
        margin-top: 4rem;
        background: #fff;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        border: 0.1rem solid rgba(0, 0, 0, 0.2);
        width: 25rem;
        padding: 2rem;
    }
    .apartmentInfo .box-container {
        display: flex;
        justify-content: center;
    }
    .apartmentInfo .box-container .box {
        background: #fff;
        text-align: center;
        padding: 1rem;
    }
    .testimonialsLayout {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .testimonialsContainer {
        text-align: center;
        border: 2px solid grey;
        border-radius: 5%;
        margin: 5px;
        padding-top: 5px;
    }
    .contact .icons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .contactUs {
        display: flex;
        flex-direction: column;
    }
    .icons {
        margin-left: 20%;
    }
    .iframeLayout {
        width: 300px;
        height: 300px;
        margin-left: 0;
    }
    .sectionLayout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .list {
        margin-left: 5%;
    }
    .iframe {
        display: flex;
        justify-content: center;
    }
}
